name: Combine XCFramework

on:
  workflow_dispatch:

jobs:
  build-openjdk:
    uses: ./.github/workflows/build-openjdk.yml

  build-openjdk-sim:
    uses: ./.github/workflows/build-openjdk-sim.yml

  combine:
    needs: [ build-openjdk, build-openjdk-sim ]
    runs-on: macos-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download device artifact
        uses: actions/download-artifact@v4
        with:
          name: libjvm-device
          path: ./device

      - name: Download simulator artifact
        uses: actions/download-artifact@v4
        with:
          name: libjvm-simulator
          path: ./simulator

      - name: Prepare headers
        run: |
          mkdir -p device/jdk
          cp -R device/jdk/include device/jdk/
          
          mkdir -p simulator/jdk
          cp -R simulator/jdk/include simulator/jdk/

      - name: Create XCFramework
        run: |
          xcodebuild -create-xcframework \
            -library ./device/images/static-libs/lib/zero/libjvm.a \
            -headers ./device/jdk/include \
            -library ./simulator/images/static-libs/lib/zero/libjvm.a \
            -headers ./simulator/jdk/include \
            -output ./OpenJDK.xcframework

      - name: Upload XCFramework
        uses: actions/upload-artifact@v4
        with:
          name: OpenJDK-XCFramework
          path: ./OpenJDK.xcframework

