name: Combine XCFramework

on:
  workflow_dispatch:

jobs:
  build-openjdk:
    uses: ./.github/workflows/build-openjdk.yml

  build-openjdk-sim:
    uses: ./.github/workflows/build-openjdk-sim.yml

  combine:
    needs: [ build-openjdk, build-openjdk-sim ]
    runs-on: macos-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download and unzip mobile-support
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release download libffi-build -p "libffi-ios.zip" -p "libffi-ios-sim.zip"
          unzip libffi-ios.zip -d libffi-ios
          unzip libffi-ios-sim.zip -d libffi-ios-sim

      - name: Download device artifact
        uses: actions/download-artifact@v4
        with:
          name: libjvm-device
          path: ./device

      - name: Download simulator artifact
        uses: actions/download-artifact@v4
        with:
          name: libjvm-simulator
          path: ./simulator

      - name: Create device static
        run: |
          mkdir device-static
          cp ./libffi-ios/libffi.a device-static
          cp ./device/images/static-libs/lib/zero/libjvm.a device-static
          cd device-static
          ar x libjvm.a
          ar x libffi.a
          ar rcs libdevice.a *.o

      - name: Create simulator static
        run: |
          mkdir sim-static
          cp ./libffi-ios-sim/libffi.a sim-static
          cp ./simulator/images/static-libs/lib/zero/libjvm.a sim-static
          cd sim-static
          ar x libjvm.a
          ar x libffi.a
          ar rcs libsim.a *.o

      - name: Create XCFramework
        run: |
          xcodebuild -create-xcframework \
            -library ./device-static/libdevice.a \
            -headers ./device/jdk/include \
            -library ./sim-static/libsim.a \
            -headers ./simulator/jdk/include \
            -output ./OpenJDK.xcframework

      - name: Upload XCFramework
        uses: actions/upload-artifact@v4
        with:
          name: OpenJDK-XCFramework
          path: ./OpenJDK.xcframework
