name: Combine XCFramework

on:
  schedule:
    - cron: '0 3 * * *' # run at 3 AM UTC
  workflow_dispatch:

jobs:
  build-openjdk:
    uses: ./.github/workflows/build-openjdk.yml

  build-openjdk-sim:
    uses: ./.github/workflows/build-openjdk-sim.yml

  combine:
    needs: [ build-openjdk, build-openjdk-sim ]
    runs-on: macos-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download and unzip mobile-support
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release download libffi-build -p "libffi-ios.zip" -p "libffi-ios-sim.zip"
          unzip libffi-ios.zip -d libffi-ios
          unzip libffi-ios-sim.zip -d libffi-ios-sim

      - name: Download device artifact
        uses: actions/download-artifact@v4
        with:
          name: libjvm-device
          path: ./device

      - name: Download simulator artifact
        uses: actions/download-artifact@v4
        with:
          name: libjvm-simulator
          path: ./simulator

      - name: Create device static
        run: |
          mkdir device-static
          cp ./libffi-ios/libffi.a device-static
          cp ./device/images/static-libs/lib/*.a device-static
          cp ./device/images/static-libs/lib/zero/libjvm.a device-static
          cd device-static
          libtool -static -o libdevice.a *.a

      - name: Create simulator static
        run: |
          mkdir sim-static
          cp ./libffi-ios-sim/libffi.a sim-static
          cp ./simulator/images/static-libs/lib/*.a sim-static
          cp ./simulator/images/static-libs/lib/zero/libjvm.a sim-static
          cd sim-static
          libtool -static -o libsim.a *.a

      - name: Flatten header location
        run: |
          cp ./device/jdk/include/ios/* ./device/jdk/include/
          cp ./simulator/jdk/include/ios/* ./simulator/jdk/include/

      - name: Create XCFramework
        run: |
          xcodebuild -create-xcframework \
            -library ./device-static/libdevice.a \
            -headers ./device/jdk/include \
            -library ./sim-static/libsim.a \
            -headers ./simulator/jdk/include \
            -output ./OpenJDK.xcframework
          cd OpenJDK.xcframework
          zip -r ../OpenJDK.xcframework.zip .

      - name: Upload XCFramework
        uses: actions/upload-artifact@v4
        with:
          name: OpenJDK.xcframework
          path: ./OpenJDK.xcframework

      - name: Upload artifacts
##        if: ${{ github.event_name == 'schedule' }}
        uses: softprops/action-gh-release@v2
        with:
          name: "Nightly build"
          tag_name: nightly
          prerelease: true
          files: |
            OpenJDK.xcframework.zip
